:root {
    --background_color: inear-gradient(to bottom, #201f1f, #362d04);
    --text-background-color: #2a2929;
    --text-background-color-opacity: #2a292979;
    --text_color: #f7f7f7;
    --text_second_color: #fed54e;
    --text_third_color: #e7c248;
    --text_hover_color: #b79a3d; 
    --z-top: 999;
    --z-model: 900;
    --z-overlay:800;
    --z-header: 700;
}